body { 
	font: 14px/16px "Trebuchet MS", Arial, san-serif;
	color: #fff;						 
	margin: 0;
}

a { 
	text-decoration: none; 
	color: #fff;
}

nav ul { 
	background-color: #D6AD99; 
	margin: 0;
	padding: 10px;
}
nav li { 
	display: inline;
	margin: 0 5px 0 5px;
	font-size: 12px;
}
nav li a {
	transition: color 0.5s ease-in-out;
}

nav li a:hover {
	color: #B82E00;	
}

.main { 
	/*background-color: #B82E00;*/
	background: linear-gradient(to bottom, #932500, #B82E00, #D6AD99);
	width: 100%;
	height: 200px;
}

.main article {
	width: 400px;
	height: 100%;
	margin: 0 auto;
	text-align: center;		
}

.main article p:first-letter {
		font-size: xx-large;
		/*text-shadow: #000 1px 1px;*/
}
			
.button { 
	background: #B2B2CC;	
	border-radius: 5px 15px 5px 15px;
	box-shadow: 1px 1px #6B6B7A;	
	display: block;
	width: 120px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px; transform: scale(2);
	padding: 5px 0 5px 0;
	text-transform: uppercase;
	font-weight: bold;
}
/*
@font-face {
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;
    src: url("file:///C:/Manok/Projects/test/style/raleway_thin-webfont.ttf");
}
*/
@font-face {
	font-family: "junction regular";
	src: url("file:///C:/Manok/Projects/test/style/Junction-webfont.ttf");
	font-weight: normal;
	font-style: normal;	
}

.highlight { 
	background-color: #5C85FF; 
}
.blurb { 
	display: none;	
}

.group:before,
.group:after {
	content: "";
 	display: table;
}
.group:after {
 	clear: both;
}
.group {
 	zoom: 1; /* IE6&7 */
}
 	
#star-six {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 44px solid #ff3300;
	position: relative;
	top: -190px;
	left: -120px;
}
#star-six:after {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 44px solid #ff3300;
	position: absolute;
	content: "";
	top: 31px;
	left: -25px;
}
